@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;

}

.menu {

    padding: 20px;
}

.menu img {
    margin-left: 12px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}

.menu-item {
    margin-right: auto;
}

.cadastro {
    display: flex;
    align-items: center;
    margin-left: 125px;
    margin-right: 20px;
}

.menu-item a {

    text-decoration: none;
    color: #4C5D73;

}

.cadastro-item {
    margin-right: 50px;
}

.cadastro-item a {

    text-decoration: none;
    color: #304F8C;
    font-weight: 500;
}

.logo img {
    margin-right: 100px;
    justify-content: center;
    align-items: center;
}

.btn-login {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 16px 50px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;


}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-content {
    flex: 2;
    padding: 100px;
}

.hero h1 {
    color: #111826;
    font-size: 40px;
    max-width: 532px;
    max-height: 112px;

}

.hero p {
    font-size: 16px;
    max-width: 527px;
    margin-bottom: 32px;
    color: rgba(48, 79, 140, 1);
}

.hero-image {
    flex: 2;
    text-align: center;
}

.hero-image img {
    max-width: 70%;
    width: 80%;
    height: auto;
}

.btn-toknow {
    background-color: #304F8C;
    color: white;
    cursor: pointer;
    padding: 20px 60px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    margin: 35px 100px;
    text-align: center;
    margin-bottom: 97px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.041);
}

.solution {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
}

.solution img {
    max-width: 100px;
    margin-right: 20px;
}

.solution-text h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;
    text-align: left;
}

.solution-text span {
    font-size: 14px;
    color: #4C5D73;
    text-align: left;
}

.services-subtitle {
    text-align: left;
    padding-left: 100px;
    /* Ajuste o espaço à esquerda para começar a partir daqui */
    margin-right: 100px;
}

.services-subtitle h2 {
    font-weight: 400;
    font-size: 16px;
    color: #4C5D73;
    margin: 0;
    /* Remova a margem superior padrão */
    letter-spacing: 1px;
}

.services-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #111826;
}


.services-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 85px;
}

.service {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 106px 0px rgba(221, 19, 19, 0.048);
    border-radius: 10px;
    text-align: left;
    margin: 10px 10px 0;
    margin-bottom: 72px;
}

.service img {
    max-width: 100px;
    margin-bottom: 25px;
}

.service h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;
    margin-bottom: 10px;
}

.service p {
    font-size: 14px;
    color: #4C5D73;
}

.about-us {
    display: flex;
    align-items: center;
}

.about-us-subtitle {
    text-align: left;
    padding-left: 100px;
    /* Ajuste o espaço à esquerda para começar a partir daqui */
    margin-right: 100px;
}

.about-us-subtitle h2 {
    font-weight: 400;
    font-size: 16px;
    color: #4C5D73;
    margin: 0;
    /* Remova a margem superior padrão */
    letter-spacing: 1px;
}

.about-us-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #111826;
}


.about-us-image img {
    max-width: 90%;
    width: 90%;
    height: auto;
    margin-right: 31px;
}

.about-us-content {
    flex: 1;
    padding: 178px;
    text-align: left;

}

.about-us-content img {
    margin-left: 9px;


}

.about-us p {
    font-size: 16px;
    color: rgba(48, 79, 140, 1);
    margin-bottom: 16px;
    padding: 6px;
    line-height: 24px;
}

.btn-cases {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 16px 50px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 20px;
    -webkit-box-shadow: 1px 1px 25px 0px rgba(48, 79, 140, 0.45);
    -moz-box-shadow: 1px 1px 25px 0px rgba(48, 79, 140, 0.45);
    box-shadow: 1px 1px 25px 0px rgba(48, 79, 140, 0.116);
}



.atuacao-subtitle {
    text-align: left;
    padding-left: 100px;
    /* Ajuste o espaço à esquerda para começar a partir daqui */
    margin-right: 100px;
}

.atuacao-subtitle h2 {
    font-weight: 400;
    font-size: 16px;
    color: #4C5D73;
    margin: 0;
    /* Remova a margem superior padrão */
    letter-spacing: 1px;
}

.atuacao-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #111826;
}


.atuacao-container {
    display: flex;
    justify-content: space-between;
    padding: 38px 85px;
}

.atuacao {
    flex: 1;
    padding: 80px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 106px 0px rgba(221, 19, 19, 0.048);
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px 0;
    margin-bottom: 97px;

}

.atuacao img {
    max-width: 900px;
    margin-bottom: 35px;

}

.atuacao h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;

}

.plans-subtitle {
    text-align: left;
    padding-left: 100px;
    /* Ajuste o espaço à esquerda para começar a partir daqui */
    margin-right: 100px;
}

.plans-subtitle h2 {
    font-weight: 400;
    font-size: 16px;
    color: #4C5D73;
    margin: 0;
    /* Remova a margem superior padrão */
    letter-spacing: 1px;
}

.plans-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #111826;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Alinhe os planos à esquerda horizontalmente */
    padding: 48px 85px;
    margin-bottom: 55px;
}

.plans {
    flex: 1;
    padding: 26px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    text-align: left;
    margin: auto;
    max-width: 300px;
}

.plans h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    color: #111826;
    margin-bottom: 10px;
}


.plan-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.plan-content p {
    font-size: 14px;
    color: #4C5D73;
    margin-bottom: 30px;
    /* Espaçamento entre o parágrafo e o botão */
}


.plan-price {
    display: flex;
    align-items: center;
    /* Alinhe o preço e "/mês" verticalmente */
}

.plan-price h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #111826;
}

.plan-price small {
    font-size: 12px;
    color: #4C5D73;
    margin-left: 4px;
    /* Adicione um espaço entre o preço e "/mês" */
    margin-top: -10px;
}

.btn-plans {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 13px 63px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.popular-badge {
    width: 137px;
    height: 37px;
    background-color: #94F2E9;
    /* Cor do fundo do quadrado */
    border-radius: 100px;
    /* Para torná-lo redondo */
    text-align: center;
    margin: 0 auto;
    /* Centraliza horizontalmente */
    margin-top: -37px;
    /* Move o "Popular Badge" um pouco acima do título */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza o texto verticalmente */
}

.popular-badge p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #304F8C;
    /* Cor do texto dentro do quadrado */
}


.plan-price-green {
    display: flex;
    align-items: center;
    /* Alinhe o preço e "/mês" verticalmente */
}

.plan-price-green h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    color: #FFFFFF;
}

.plan-price-green small {
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 4px;
    /* Adicione um espaço entre o preço e "/mês" */
    margin-top: -10px;
}


.plans-essential {
    flex: 1;
    padding: 26px;
    background: #304F8C;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    text-align: left;
    margin: auto;
    max-width: 300px;

}

.plans-essential h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.plans-essential-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.plans-essential-content p {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 30px;
    /* Espaçamento entre o parágrafo e o botão */
}

.btn-plans-essential {
    background: #EAEDF3;
    color: #304F8C;
    cursor: pointer;
    padding: 13px 63px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.plan-box {
    position: relative;
    /* Adicione essa propriedade para posicionar elementos filhos relativamente */
    margin: auto;
    width: 770px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAEDF3;
    border-radius: 13px;
    margin-bottom: 128px;
}

.quote-image {
    position: absolute;
    top: -16px;
    /* Ajuste a posição vertical conforme necessário */
    right: 58px;
    /* Ajuste a posição horizontal para o canto superior direito */
}

.quote-image img {
    width: 68px;
    /* Ajuste o tamanho da imagem de aspas conforme necessário */
}

.plan-image {
    width: 175px;
    height: 226.8px;
    /* Altura da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-top: -65px;
}

.plan-image img {
    max-width: 100%;
    max-height: 100%;
    /* Garante que a imagem não exceda a altura do contêiner */
    object-fit: contain;
    /* Mantém a proporção da imagem e a ajusta ao contêiner */
}

.plan-citation {
    padding: 20px;
    text-align: center;
    max-width: 80%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: #4C5D73;
    margin-top: -20px;
}

body {
    margin: 0;
    padding: 0;
}


footer {
    background-color: #111826;
    color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .section {
    flex: 1;
    padding: 50px 4%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 7px;
}


footer h3 {
    font-size: 18px;
    margin-bottom: 22px;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

footer form {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer input[type="email"] {
    flex: 1;
    padding: 14px 29px;
    border: none;
    outline: none;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: rgba(17, 24, 38, 0.5);
    font-weight: 500;
}

footer input[type="submit"] {
    background-color: #fff;
    color: #111826;
    border: none;
    padding: 10px 12px 11px;
    cursor: pointer;
    font-size: 18px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: 500;
}

/* Estilizando as redes sociais */
footer #redes-sociais {
    margin-top: 20px;
}

footer #redes-sociais img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

footer #redes-sociais .facebo {
    width: 12px;
    cursor: pointer;
    margin-right: 20px;
}

.idk {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    background-color: #111826;
    color: #fff;
    margin-top: 1px;
    margin-bottom: 0;
    /* Removi a margem inferior para evitar o espaço extra */
    padding: 20px 0;
    /* Adicionei preenchimento para manter a altura */
}

.idk p {
    margin: 0;
    /* Removi a margem para evitar espaço extra */
}
