@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    color: #4C5D73;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu ul {
    max-width: 100vw;
    list-style: none;
    padding: 20px;
    margin: 50px;
    padding-left: 300px;
    font-size: 16px;

}

.menu ul li {
    display: inline;
    padding: 10px;
}

.menu ul li a {
    color: #4C5D73;
    padding: 20px;
    text-decoration: none;
    transition: background .4s;
}

a{
    text-decoration: none;
    color: #4C5D73
}

.menu img{
    padding: 16px;
}

.btn-login{
    color: #304F8C;
    cursor: pointer;
    padding: 16px;
    width: 170px;
    font-weight: 700;
    font-size: 16px;
    border: #304F8C 1px solid;
    border-radius: 8px;
    background: transparent;
}   

.hero{
    font-size: 16px;
}



.hero > h1{
    color: #111826;
}

.hero > h1,p{
    width: vw;

}

.hero > img{
    align-items: left;
    justify-self: left;

    
}

.about{
    box-shadow:  0px 49px 94px 0px  rgba(0, 0, 0, 0.103);
    padding: 40px;
    border-radius: 10px;
    margin: 75px;


}

.about > span{






}