@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;

}

.menu {

    padding: 20px;
}

.menu img {
    margin-left: 12px; 
    height: auto; 
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; 

}

.menu-item {
    margin-right: auto; 
}

.cadastro {
    display: flex;
    align-items: center; 
    margin-left: 125px; 
    margin-right: 20px; 
}

.menu-item a {

    text-decoration: none;
    color: #4C5D73;

}

.cadastro-item {
    margin-right: 50px; 
}

.cadastro-item a {

    text-decoration: none;
    color: #304F8C;
    font-weight: 500;
}

.logo img {
    margin-right: 100px; 
    justify-content: center;
    align-items: center;
}

.btn-login {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 16px 50px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;


}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-content {
    flex: 2; 
    padding: 100px; 
}

.hero h1 {
    color: #111826;
    font-size: 40px;
    max-width: 532px;
    max-height: 112px;

}

.hero p {
    font-size: 16px;
    max-width: 527px;
    margin-bottom: 32px;
    color: rgba(48, 79, 140, 1);
}

.hero-image {
    flex: 2; 
    text-align: center;
}

.hero-image img {
    max-width: 70%; 
    width: 80%; 
    height: auto; 
}

.btn-toknow {
    background-color: #304F8C;
    color: white;
    cursor: pointer;
    padding: 20px 60px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    margin: 35px 100px;
    text-align: center;
    margin-bottom: 97px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    box-shadow: 10px 10px 106px 0px rgba(0, 0, 0, 0.041);
}

.solution {
    display: flex;
    align-items: center;
    text-align: left; 
    margin: 0; 
}

.solution img {
    max-width: 100px;
    margin-right: 20px;
}

.solution-text h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;
    text-align: left; 
}

.solution-text span {
    font-size: 14px;
    color: #4C5D73;
    text-align: left; 
}

.services-subtitle {
    text-align: left; 
    margin-left: 100px; 
}

.services-subtitle h2 {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 37px;
    font-size: 16px; 
    color: #4C5D73;
}

.services-subtitle h1 {
    font-size: 32px; 
    font-weight: 700;
    margin: 0;
    color: #111826;
    width: 826px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 85px;
}

.service {
    flex: 1; 
    padding: 20px; 
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    box-shadow: 10px 10px 106px 0px rgba(221, 19, 19, 0.048);
    border-radius: 10px;
    text-align: left;
    margin: 10px 10px 0; 
    margin-bottom: 72px;
}

.service img {
    max-width: 100px;
    margin-bottom: 25px; 
}

.service h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;
    margin-bottom: 10px; 
}

.service p {
    font-size: 14px;
    color: #4C5D73;
}

.about-us {
    display: flex;
    align-items: center;
}

.about-us-subtitle {
    text-align: left;
    padding: 1px 100px;
    margin-right: 100px;
}

.about-us-subtitle h2 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    color: #4C5D73;
}

.about-us-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    color: #111826;
    width: 826px;
}

.about-us-image img {
    max-width: 90%;
    width: 90%;
    height: auto;
    margin-right: 31px; 
}

.about-us-content {
    flex: 1;
    padding: 178px; 
    text-align: left;

}

.about-us p {
    font-size: 16px;
    color: rgba(48, 79, 140, 1);
    margin-bottom: 16px;
    padding: 6px;
    line-height: 24px;
}

.btn-cases {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 16px 50px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 20px; 
    -webkit-box-shadow: 1px 1px 25px 0px rgba(48,79,140,0.45);
    -moz-box-shadow: 1px 1px 25px 0px rgba(48,79,140,0.45);
    box-shadow: 1px 1px 25px 0px rgba(48, 79, 140, 0.116);
}

.atuacao-subtitle {
    text-align: left;
    padding: 1px 100px;
    margin-right: 100px;
}

.atuacao-subtitle h2 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    color: #4C5D73;
}

.atuacao-subtitle h1 {
    font-size: 32px;
    font-weight: 700;
    color: #111826;
    width: 826px;
}

.atuacao-container {
    display: flex;
    justify-content: space-between;
    padding: 38px 85px;
}

.atuacao {
    flex: 1; 
    padding: 80px; 
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    box-shadow: 10px 10px 106px 0px rgba(221, 19, 19, 0.048);
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px 0; 
    margin-bottom: 97px;

}

.atuacao img {
    max-width: 900px;
    margin-bottom: 35px;

}

.atuacao h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: #111826;

}

.plans-subtitle {
    text-align: left;
    padding: 1px 100px;
    margin-right: 100px;
}

.plans-subtitle h2 {
    font-weight: 400;
    font-size: 16px; 
    color: #4C5D73;
}

.plans-subtitle h1 {
    font-size: 32px; 
    font-weight: 700;
    margin: 0;
    color: #111826;
}

.plans-container {
    display: flex;
    flex-wrap: wrap; /* Permita que os planos se ajustem automaticamente em várias linhas */
    justify-content: center; /* Alinhe os planos ao centro */
    padding: 48px 0; /* Adicione preenchimento acima e abaixo */
}

.plans {
    flex: 1; 
    padding: 30px;
    -webkit-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 10px 106px 0px rgba(0,0,0,0.36);
    box-shadow: 10px 10px 106px 0px rgba(221, 19, 19, 0.048);
    border-radius: 10px;
    text-align: left; /* Centralize o conteúdo */
    margin: 50px; /* Adicione margem entre os planos */
    max-width: 300px; /* Defina uma largura máxima para os planos */
}

.plans h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    color: #111826;
    margin-bottom: 20px;
}

.plans h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: #111826;
    
}

.plans p {
    font-size: 16px;
    color: #4C5D73;
    margin-bottom: 20px; /* Reduza o espaço entre o texto e o botão */
}

.btn-plans {
    background: transparent;
    color: #304F8C;
    cursor: pointer;
    padding: 12px 24px; /* Reduza o preenchimento do botão para torná-lo mais compacto */
    font-weight: 500;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    padding: 12px 52px;

}
